<h1>Dashboard</h1>

  <header class="jumbotron">
    <h3>
      Number of Categories: <a href="/admin/products" ><%= @category_count %></a>
    </h3>
    <h3>
      Number of Products: <a href="/admin/products" ><%= @product_count %></a>
    </h3>
  </header>



